version: 2.1
orbs:
  codecov: codecov/codecov@1.1.1
workflows:
  build:
    jobs:
      - build:
          context: turbo-funicular
      - publish-image:
          context: turbo-funicular-prod
          requires:
            - build
          filters:
            branches:
              only:
                - main

jobs:
  build:
    #paralellism: 2
    docker:
      - image: cimg/openjdk:15.0.0
      - image: postgres:13.1-alpine
        environment:
          POSTGRES_USER: user
          POSTGRES_DB: funicular
          POSTGRES_PASSWORD: secret
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
      GRADLE_OPTS: "-Dorg.gradle.workers.max=2"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Waiting for Postgres to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Postgress && exit 1
      - run:
          name: Prepare Gradle Wrapper
          command: ./gradlew -version
      - run:
          name: Run tests
          environment:
            DATASOURCES_DEFAULT_URL: jdbc:postgresql://localhost:5432/funicular
          command: ./gradlew test jacocoTestReport
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}
      - store_artifacts:
          path: build/reports
          destination: reports
      - store_test_results:
          path: build/test-results/test
      - codecov/upload:
          file: build/reports/jacoco/test/jacocoTestReport.xml
  publish-image:
    docker:
      - image: cimg/openjdk:15.0.0
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
      GRADLE_OPTS: "-Dorg.gradle.workers.max=2"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-
      - run:
          name: Publish OCI image
          command: ./gradlew jib
