<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{gist-detail.page.title}"></title>
</head>
<body>
<section>
    <div class="container" th:if="${errors}">
        <div class="row">
            <div class="card-panel red lighten-4" th:each="error: ${errors}" th:text="${error}"></div>
        </div>
    </div>
    <div class="container" th:unless="${errors}">
        <div class="row">
            <h3>
                <a th:href="@{#string.concat('https://gist.github.com/', username, '/', gist.ghId)}"
                   th:text="${not #strings.isEmpty(gist.description)}? ${#strings.abbreviate(gist.description, 30)} : ${#strings.abbreviate(gist.files[0].filename, 30)}"></a>
            </h3>
            <div class="col s6">
                <div class="section">
                    <script th:src="${#strings.concat('https://gist.github.com/', login, '/', gist.ghId, '.js')}"></script>
                </div>
            </div>
            <div class="col s6 m6">
                <h4 th:text="#{gist.comments.label}"></h4>
                <div class="section">
                    <form class="col s12"
                          method="post"
                          th:action="@{/profile/{login}/gist/{gistId}/comment/new(login=${username},gistId=${gist.ghId})}"
                          th:object="${newComment}">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="body" class="materialize-textarea validate" th:value="*{body}" name="body"
                                          required="" aria-required="true"></textarea>
                                <label for="body" th:text="#{gist.new.comment.label}"></label>
                                <button class="btn waves-effect waves-light" type="submit"
                                        th:text="#{gist.comment.btn.add}"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <ul class="collection" th:each="comment: ${topComments}">
                        <li class="collection-item avatar">

                            <a th:href="@{/profile/{login}(login=${comment.owner.login})}">
                                <img th:src="@{${comment.owner.avatarUrl}}" alt="" class="circle responsive-img" src="">
                            </a>
                            <a class="title"
                               th:href="@{/profile/{login}(login=${comment.owner.login})}"
                               th:text="${#strings.isEmpty(comment.owner.name)}? ${comment.owner.login}: ${comment.owner.name}"></a>
                            <p th:text="${comment.body}"></p>
                            <span class="secondary-content badge"
                                  th:text="${comment.createdAt}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('select').material_select();
            $("select[required]").css({display: "inline", height: 0, padding: 0, width: 0});
        });
    </script>
</section>
</body>
</html>