<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:replace="${title}"></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo" th:text="#{app.name}"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://github.com/mrduckieduck/turbo-funicular">GitHub</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="https://github.com/mrduckieduck/turbo-funicular">GitHub</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<main>
    <div th:replace="${content}">
        <p>Layout content</p>
    </div>
</main>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Funicular</h5>
                <p class="grey-text text-lighten-4">
                    Funicular it's very simple application to showcase vavr powerful features.
                    Funicular is "not created by, affiliated with, or supported by GitHub Inc."
                </p>


            </div>
            <div class="col l3 s12">
                <!--
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
                -->
            </div>
            <div class="col l3 s12">
                <!--
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
                -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with love
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
<script src="/js/user-gists.js"></script>
</body>
</html>
