<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.page.title}"></title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="section" th:if="${errors}">
                    <div class="card-panel red lighten-4" th:each="error: ${errors}" th:text="${error}"></div>
                </div>
                <div class="section" th:unless="${errors}">
                    <ul class="collection" th:each="gist: ${gists}">
                        <li class="collection-item avatar">
                            <a th:href="@{/profile/{login}/gist/{gistId}(gistId=${gist.ghId},login=${ghUser.login})}">
                                <i class="material-icons circle">code</i>
                            </a>
                            <a class="title"
                               th:href="@{/profile/{login}/gist/{gistId}(gistId=${gist.ghId},login=${ghUser.login})}"
                               th:text="${not #strings.isEmpty(gist.description)}? ${#strings.abbreviate(gist.description, 30)} : ${#strings.abbreviate(gist.files[0].filename, 30)}"></a>
                            <p th:text="${gist.createdAt}"></p>
                            <span class="secondary-content new badge modal-trigger"
                                  th:text="${gist.commentsCount}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s6 m6">
                <div class="section">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s4">
                                <img th:src="@{${ghUser.avatarUrl}}" alt="" class="circle responsive-img" src="">
                            </div>
                            <div class="col s10">
                                <h5 class="title" th:text="${ghUser.name}"></h5>
                                <p>
                                    <span th:text="${ghUser.bio}"></span>
                                    <br/>
                                    <span class="badge"
                                          data-badge-caption="public gists"
                                          th:text="${ghUser.publicGistsCount}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>