<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
</head>
<body>
<section>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">This div is 12-columns wide on all screen sizes</div>
                <div class="col s6">6-columns (one-half)</div>
                <div class="col s6">6-columns (one-half)</div>
            </div>
            <div class="row">
                <div class="col s3">
                    <!-- Grey navigation panel -->
                </div>
                <div class="col s9">
                    <!-- Teal page content  -->
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>