<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.page.title}"></title>
</head>
<body>
<section>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="card demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s6">
                                    <svg fill="currentColor" width="400px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                                        <use xlink:href="#piechart" mask="url(#piemask)"></use>
                                        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan font-size="0.2" dy="-0.07">%</tspan></text>
                                    </svg>
                                </div>
                                <div class="col s6">
                                    <svg fill="currentColor" width="400px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
                                        <use xlink:href="#piechart" mask="url(#piemask)"></use>
                                        <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2">%</tspan></text>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s8">
                            <div class="card">
                                <div class="card-content">
                                    <ul class="collection" th:each="gist: ${gists}">
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle red">code</i>
                                            <span class="title" th:text="${gist.description}"></span>
                                            <p>First Line <br>
                                                Second Line
                                            </p>
                                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row">
                                <div class="demo-cards">
                                    <div class="card">
                                        <div class="card-content">
                                            <ul class="collection" th:each="user: ${featuredUsers}">
                                                <li class="collection-item avatar">
                                                    <img src="images/yuna.jpg" alt="" class="circle">
                                                    <span class="title">Title</span>
                                                    <p>First Line <br>
                                                        Second Line
                                                    </p>
                                                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--div class="card-action mdl-card__actions mdl-card--border">
                                            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
                                        </div-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>